
$colorLight: #fff;
$colorDark: #000;
$width: 100%;
$borderRadius: 20px;
$paddingH: 100px;
$paddingp: 1em 1em 0 1em;
$justify-content: center;
$height: 100vh;
$heightOthers: 75vh;
$font-size: 42px;
$text-align: center;
$font-sizeSub: 80px;
$font-sizep: 16px;
$line-heightp: 1.6em;
$text-alignp: center;
$max-width: 800px;

